.glow{
    background: rgb(22,11,78);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: inline-block;
    box-shadow: 5px 5px 5px rgba(22,11,60,0.7);
    color: rgb(22,112,240);
    padding: 40px;
}
.glow > span{
    text-transform: uppercase;
    color: rgb(22,112,240);
    text-shadow: none;
    font-size: 30px;
    font-weight: bolder;
}
.glow span:nth-child(4){
    color: rgb(22,11,100);
    animation: glow 4s linear infinite;
    animation-delay: 1s;
}
.glow span:nth-child(5){
    color: rgb(22,11,100);
    animation: glow 4s linear infinite;
    animation-delay: 1.5s;
}
.glow span:nth-child(6){
    color: rgb(22,11,100);
    animation: glow 4s linear infinite;
    animation-delay: 2.5s;
}
.glow span:nth-child(7){
    color: rgb(22,11,100);
    animation: glow 4s linear infinite;
    animation-delay: 3s;
}
.glow span:nth-child(8){
    color: rgb(22,11,100);
    animation: glow 4s linear infinite;
    animation-delay: 3.5s;
}
.glow span:nth-child(9){
    animation: glow 4s linear infinite;
    color: rgb(22,11,100);
    animation-delay: 4s;
}
@keyframes glow{
    0%,80%{
        color: rgb(22,11,100);
        text-shadow: none;
    }
    100%{
        color: rgb(22,112,240);
        text-shadow: 0 0 16px rgb(22,112,240),
                    0 0 32px rgb(22,112,240),
                    0 0 64px rgb(22,112,240),
                    0 0 128px rgb(22,112,240),
                    0 0 256px rgb(22,112,240),
                    0 0 512px rgb(22,112,240),
                    0 0 1024px rgb(22,112,240),
                    0 0 2048px rgb(22,112,240),
                    0 0 4096px rgb(22,112,240);
    }
 }
