.typewriter p{
    width: 1px;
    white-space: nowrap;
    overflow: hidden;
}

.typewriter p:nth-child(1){
    animation: typing 5s infinite;
}
/*.typewriter p:nth-child(2){
    animation: typing 5s infinite;
    animation-delay: 10s;
}*/
@keyframes typing{
    0%{
        border-right: 1px solid #000;
        width: 2px;
    }
    10%{
        border: none;
    }
    20%{
        border-right: 1px solid #000;
    }
    50%{
        width: 190px;
    }
    60%{
        border: none;
    }
    80%{
        border-right: 1px solid #000;
    }
    100%{
        border-right: 1px solid #000;
        width: 2px;
    }
 }