.typewriter p{
    width: 1px;
    font-size: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.typewriter p:nth-child(1){
    animation: typing 4s infinite;
}
/*.typewriter p:nth-child(2){
    animation: typing 5s infinite;
    animation-delay: 10s;
}*/
@keyframes typing{
    0%{
        border-right: 1px solid #000;
        width: 2px;
    }
    25%{
        border: none;
    }
    50%{
        border-right: 1px solid #000;
        width: 240px;
    }
    75%{
        border: none;
    }
    100%{
        border-right: 1px solid #000;
        width: 2px;
    }
 }