.typewriter{
    width: 1px;
    white-space: nowrap;
    overflow: hidden;
}

.typewriter{
    animation: typing 5s infinite;
}
@keyframes typing{
    0%{
        width: 2px;
    }
    20%{
        width: 60px;
    }
    40%{
        width: 120px;
    }
    50%{
        width: 190px;
    }
    60%{
        width: 120px;
    }
    80%{
        width: 60px;
    }
    100%{
        width: 2px;
    }
 }