body{
	padding: 0px;
	margin: 0px;
  font-family: century gothic, sans-serif;
  overflow-x: hidden !important;
}
.navoptions ul {
  /*display: none;*/
  list-style-type: none;
  background-color: rgb(22,11,78);
  position: fixed !important; /* Safari */
  position: fixed !important;
  /*width: 100%;*/
  margin: 10px 10px 10px 0px;
  padding: 0;
  font-size: 0.8em;
  box-shadow: 8px 3px 5px rgba(0,0,0,0.3);
  overflow: hidden;
  z-index: 5000;
  border-radius: 0 15px;
}

.navoptions li {
  float: left;
}

.navoptions li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}

.navoptions li a:hover,.navoptions li a:active,.navoptions li a:focus {
  background-color: #3132cB !important;
}

.navoptions .active {
  background-color: #3132cB !important;
}

.scene{
    background: url(../img/code.jpg) no-repeat fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 590px;
    text-align: center;
}

.scene-content{
    position: absolute;
    /*top: 100px;*/
    background: rgba(22,11,78,0.6);
    width: 100%;
    height: 590px;
    margin: 0;
    padding: 25px;
    padding-top: 150px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 1px #000000;    
}

/*background*/
.bg-dark{
  background: #160b4E !important;
  color: #ffffff !important;
}
.bg-primary{
  background: #3132cB !important;
  color: #ffffff !important;
}
.bg-dark a,.bg-primary a {
  color: #ffffff !important;
  font-weight: bold;
}

.footer{
  padding: 20px;
}
/*text*/
.text-dark{
  color: #160b4E !important;
}
.text-primary{
  color: rgb(22,112,240) !important;
}
.text-danger{
  color: #f80000 !important;
}
.text-host{
  position: absolute;
  margin-top: 50px;
  margin-left: -170px;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: inline;
  text-shadow: 2px 1px 2px #000000;
  font-size: 100%;
  font-weight: normal;
  text-transform: capitalize;
}
.title-1{
  text-shadow: 10px 10px 10px rgba(0,0,0,0.6);
  color: #ffffff;
  font-size: 500%;
  font-weight: bolder;
}
.title-2{
  margin-bottom: 20px;
  font-size:120%;
  font-weight: normal;
  text-transform: capitalize;
}
.brand{
  font-weight: bolder;
}
.text-footer{
    text-align: center !important;
    font-size: 70%;
    font-weight: normal;    
}

br,hr{
  margin: 10px 0;
}
p,div{
  text-align: justify-all;
  line-height: 20px;
}


/*image*/
.img-host{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.icon{
  font-size: 100px;
  margin: 5px;
}

.shadow{
  box-shadow: 10px 10px 16px rgba(0,0,0,0.3) !important;
}
.border-top{
  border-top: 2px solid #160b4E !important;
}
.border-left{
  border-left: 2px solid #160b4E !important;
}

/*section*/
section{
  padding: 10px;
}
.about{
  padding-top: 50px;
}